body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #333;
    
}

.intro {
    width: 100%;
    height: 100vh;
    background: url(../images/gg.jpg) no-repeat fixed;
    background-size: auto;
    background-position: right;
    position: fixed;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    height: 10%;
    margin-top: 1%;

}

.nav {
    color: black;
    font-weight: 900;
    font-size: 18px;
    text-decoration: none;
    margin-right: 20px;
}

.nav:hover {
    color: rgb(0, 19, 168);
}

.logo {
    display: flex;
    font-size: 40px;
    font-weight: 900;
    color: black;
}

.img {
    max-width: 300px;
    max-height: 300px;
    margin: 5%;
    margin-left: 0;
}

.imagesAndInstr {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 7%;
    margin-left: 5%;

}

.oneInstraction {
    background-color: rgb(255, 255, 175);
    width: 600px;
    height: 228px;
    margin: 5%;
    border-radius: 15px 100px 15px 100px;
}
.instractions {
    display: flex;
}
.text{
    text-align: center;
    font-weight: 600;
    margin: 9%;
}
