body {
    height: 100vh;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #333;

}

.intro {
    width: 100%;
    height: 100vh;
    background: url(../images/gg.jpg) no-repeat fixed;
    background-size: auto;
    background-position: right;
    position: fixed;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    height: 10%;
    margin-top: 1%;

}

.nav {
    color: black;
    font-weight: 900;
    font-size: 18px;
    text-decoration: none;
    margin-right: 20px;
}

.nav:hover {
    color: rgb(0, 19, 168);
}

.logo {
    display: flex;
    font-size: 40px;
    font-weight: 900;
    color: black;
}

.editing {
    position: relative;
    float: left;
    background-color: rgb(255, 255, 194);
    width: 50%;
    margin-top: 10%;
    margin-left: 23%;
    margin-bottom: 10%;
    border-radius: 25px;
    box-shadow: 10px 10px white, 20px 20px #ffea91;

}

.taskText {
    width: 85%;
    background-color: white;
    margin-left: 5%;
    border-radius: 25px;
    word-wrap: break-word;
    padding: 3%;
/*    font-size: 50px;*/

}
.text{
    border-color: white;
    height: 25vh;
    width: 100%;
    font-size: 18px;
    overflow: auto;
    display:block;
}

.delCancelSave {
    display: flex;
    justify-content: space-between;
    margin: auto;    
}

.finished {
    font-size: 16px;
    padding: 10px;
    background-color: white;
    border: 1px solid #000000;
    margin: 5%;

}

.botton {
    margin: 15px;
}

.date {
    display: flex;
    margin-left: 3%;
}

.menu{
    width: 20%;
    position: fixed;
    background-color: rgba(203, 203, 203, 0.93);
    height: 100vh;
    margin-top: 7%;
}
.textMenu{
    margin-left: 5%;
}
.men {
    color: black;
    font-weight: 900;
    font-size: 18px;
    text-decoration: none;
    margin-right: 20px;
}
.men:hover {
    color: rgb(0, 19, 168);
}
.filter{
    margin-left: 8%;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 30%;
}
.day{
    margin-bottom: 4%;
    margin-top: 4%;
}
.formDate{
    float: right;
}

