body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #333;
}

.intro {
    width: 100%;
    height: 100vh;
    background: url(../images/gg.jpg) no-repeat fixed;
    background-size: auto;
    background-position: right;
    position: fixed;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    height: 10%;
    margin-top: 1%;

}

.nav,.h1Menu, .men {
    color: black;
    font-weight: 900;
    font-size: 18px;
    text-decoration: none;
    margin-right: 20px;
}

.nav:hover {
    color: rgb(0, 19, 168);
}
.men:hover {
    color: rgb(0, 19, 168);
}

.logo {
    font-size: 40px;
    font-weight: 900;
    color: black;
}
.task{
    margin: 1.5%;
}
.tasks{
    margin-top: 6%;
    margin-left: 22%;
    position: absolute;
    display: flex;
    flex-direction: column;
}
.lab{
    background-color: rgb(255, 255, 148);
    padding: 1.5%;
    min-width: 500px;
}
.blocks{
    display: flex;
    margin-bottom: 2%;
}
.menu{
    width: 20%;
    position: fixed;
    background-color: rgba(203, 203, 203, 0.93);
    height: 100vh;
    margin-top: 6%;
}
.textMenu{
    margin-left: 5%;
}
.filter{
    margin-left: 8%;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 30%;
}
.day{
    margin-bottom: 4%;
    margin-top: 4%;
}
.formDate{
    float: right;
}
.addTask{
    max-width: 30%;
    font-size: 100%;
    padding: 2%;
    margin-bottom: 3%;
    margin-left: 6%;
    color: black;
    font-weight: 500;
    background-color: white;
    border-color: black;
}
.addTask:hover {
    background-color:  rgb(255, 255, 190);
}


